<style>

html, body {
    width: 100%;
    padding: 0px;
}

canvas {
    position: absolute;
    top: 0px;
    margin-top: 0px;
    z-index: 0;
    display: inline;
    z-index: -1;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: 	#67816C;
    color: #FFF;
    padding: 4% 0;
    font-family: 'Amatic SC', cursive;
    font-size: 2.2em;
    border: 0;
    {{!-- position: fixed; --}}
    {{!-- max-width: 200px; --}}
    {{!-- overflow: auto; --}}
    margin-bottom: 30px;
}

.navbar-text {
    font-size: 150px;
     display: block;
     position: absolute; 
    left: 50%;
    transform: translatex(-50%); 
}

.navbar-brand {
    float: left;
    min-height: 65px;
    max-height: 300px;
    padding: 0 15px 5px;
    font-family: 'Amatic SC', cursive;
    font-size: .7em;
}

.navbar-brand img {
    height: auto;
    width:70px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: black;
}

.navbar-inverse .navbar-nav li a {
    color: #D5D5;
}



#nappersList {
    color: rgb(0, 0, 0);
}

.blackText {
    color: black;
}

h2 {
  font-size: 40px;
}

label {
  font-size: 30px;
}

#napper-list {
  margin-bottom: 30px;
  font-size: 26px;
}


</style>

<canvas id="myCanvas">
</canvas>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <p class="navbar-text">Shut Eye</p> 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="pics/darkCloud.png">Do Sheep Dream</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li class="active">
                        <a href="/addnaps">Add Nap</a>
                    </li>
                    <li class="active">
                        <a href="/users">Users</a>
                    </li>
                    <li class="active">
                        <a href="/dreams">All Dreams</a>
                    </li>
                    <li class="active">
                        <a href="/alarm">Go to sleep</a>
                    </li>
                    <li class="active">
                        <a href="/facts">Pillow Talk</a>
                    </li>
                    <li class="active">
                        <a href="/sleepy">Count Sheep</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Log a New Nap</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="napper-text">Napper Name</label>
            <input type="text" id="napper-text" class="form-control" aria-describedby="example-text" placeholder="Name">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3><a class="blackText"href="/users">View All Nappers</a></h3>
        <h3>User Added:</h3>
        <ul id="napper-list" class="list-group">
          {{#each loggedNaps}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="/user/{{this.id}}" id="nappersList">{{this.name}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>

<canvas id="myCanvas"></canvas>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/diagonal.js"></script>


</body>
