<div class="background">
    <div class="firstThing">Hello World</div>
    <div class="secondThing">Add a Nap</div>
    <div class="thirdThing">View Sleepers</div>
    <div class="fourthThing">Count Sheep</div>
</div>

<canvas id="myCanvas"></canvas>

{{!-- <script type="text/javascript" src="../public/js/cavnas.js"></script> --}}
