
<div id=map>
  {{map}}
</div>

<script src="/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLTHUijvmcGAzLH08FHYysIKWmLMgviNk&callback=initMap"></script>
