<style>

canvas {
    position: absolute;
    top: 0px;
    margin-top: 0px;
    z-index: 0;
    display: inline;
    z-index: -1;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: 	#67816C;
    color: #FFF;
    padding: 4% 0;
    font-family: 'Amatic SC', cursive;
    font-size: 2.2em;
    border: 0;
    {{!-- position: fixed; --}}
    {{!-- max-width: 200px; --}}
    {{!-- overflow: auto; --}}
    margin-bottom: 30px;
}

.navbar-text {
    font-size: 150px;
     display: block;
     position: absolute; 
    left: 50%;
    transform: translatex(-50%); 
}

.navbar-brand {
    float: left;
    min-height: 65px;
    max-height: 300px;
    padding: 0 15px 5px;
    font-family: 'Amatic SC', cursive;
    font-size: .7em;
}

.navbar-brand img {
    height: auto;
    width:70px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: black;
}

.navbar-inverse .navbar-nav li a {
    color: #D5D5;
}

h1 {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.container {
    margin-bottom: 30px;
}


</style>



<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <p class="navbar-text">Shut Eye</p> 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="pics/darkCloud.png">Do Sheep Dream</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li class="active">
                        <a href="/addnaps">Add Nap</a>
                    </li>
                    <li class="active">
                        <a href="/users">Users</a>
                    </li>
                     <li class="active">
                        <a href="/dreams">All Dreams</a>
                    </li>
                    <li class="active">
                        <a href="/alarm">Go to sleep</a>
                    </li>
                    <li class="active">
                        <a href="/facts">Pillow Talk</a>
                    </li>
                    <li class="active">
                        <a href="/sleepy">Count Sheep</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h1 class="card-title">Intermission</h1>
          <div class="video-responsive">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/kiV3J_e977Q?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
           </div>
        <br>
        <br>
        <div class="video-responsive">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/r3fE6FQT82s?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
           </div>
        <br>
        <br>
        <div class="video-responsive">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EDir9-UoPjo?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        <br>
        <br>
        <div class="video-responsive">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/q2fIWB8o-bs?showinfo=0&amp;start=40" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>


<canvas id="myCanvas">
</canvas>
<script src="/js/diagonal.js"></script>
</body>


  


