<style>

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(80, 163, 202);
    color: #FFF;
    padding: 2% 0;
    font-family: 'Amatic SC', cursive;
    font-size: 3.2em;
    border: 0;
    position: absolute;
    max-width: 200px;
}

.navbar-brand {
    float: left;
    min-height: 65px;
    max-height: 300px;
    padding: 0 15px 5px;
    font-family: 'Amatic SC', cursive;
}

.navbar-brand img {
    height: auto;
    width:70px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
}

.navbar-inverse .navbar-nav li a {
    color: #D5D5;
}

h1{
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}


</style>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="pics/darkCloud.png">Do Sheep Dream</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-fixed-top">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li class="active">
                        <a href="/addnaps">Add Nap</a>
                    </li>
                    <li class="active">
                        <a href="/users">Users</a>
                    </li>
                    <li class="active">
                        <a href="/maps">Map</a>
                    </li>
                    <li class="active">
                        <a href="/alarm">Go to sleep</a>
                    </li>
                    <li class="active">
                        <a href="/facts">Pillow Talk</a>
                    </li>
                    <li class="active">
                        <a href="/sleepy">Count Sheep</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


<div class="row">
    <div class="col-8 offset-2">
        <div>{{this.user.name}}</div>
    </div>
</div>  
<div class="row">
    <div class="col-8 offset-2">
        <div>{{this.user.dreamTitle}}</div>
    </div>
</div>  

<div class="row">
    <div class="col-8 offset-2">
        <div>{{this.user.description}}</div>
    </div>
</div>  

</body>